<script type="text/javascript" src='/js/app/controllers/projectController.js'></script>
<% if(isNew){ %>
	<h1 class='center'>New Project</h1>
<% } else { %>
	<h1 class='center'>Edit Project</h1>
<% } %>
<div class='col-md-1'></div>
<div class='col-md-9' ng-controller='ProjectController as project'
		ng-init='project.load(<%= isNew %>, <%= projectId %>)'>
	<div name='projectForm'>
		<div class='row'>
			<label for='name'>Name:</label><br/>
			<input id='name' ng-model='project.model.name' class='form-control' required type='text'></input>
		</div>
		<div class='row'>
			<label for='description'>Description:</label><br/>
			<textarea  class='editor-area' id='description'></textarea>
		</div>
		<div class='row'>
			<label for='info'>Information (only for members):</label><br/>
			<textarea class='editor-area' id='info'></textarea>
		</div>		
		<div class='row'>
			<label for='needed'>Needed people:</label><br/>
			<input id='needed' ng-model='project.model.neededMembers' class='form-control' type='text'></input>
		</div>
		<button ng-show='project.isNew' ng-click='project.save()' class='save btn btn-success'>Create!</button>
		<button ng-hide='project.isNew' ng-click='project.save()' class='save btn btn-success'>Save</button>
		<% if(!isNew){ %>
		<button ng-click='project.toggleDialog(true)' style='margin:10px 0px 0px 10px;' class='btn btn-danger'>Delete project</button>

		<modal-dialog 		
		show='project.deleteDialogVisible' dialog-title='Deleting project {{project.model.name}}'>
		  <div class='ng-hide' ng-show='project.deleteDialogVisible'>
		  <div class='row' style='margin:5px;'>
			  <p>Are you shure you want to delete project?</p>
			  <p>Deleting project is irreversible. Enter your project's name below to confirm you want to permanently delete it:</p>
			  <input type='text' ng-model='project.nameConfirm' />
		  </div>
		  <button 
		  ng-disabled='project.notConfirmed()'
		  ng-click='project.delete(project.model.id)' class='btn btn-danger'>Delete project</button>
		  <button ng-click='project.toggleDialog(false)' 
		   class='btn btn-warning'>Cancel</button>
		   </div>
		</modal-dialog>

		<% } %>

	</div>
	
</div>
<div class='col-md-3'></div>
