<script type="text/javascript" src='/js/app/controllers/projectController.js'></script>
<% if(isNew){ %>
	<h1 class='center'>New Project</h1>
<% } else { %>
	<h1 class='center'>Edit Project</h1>
<% } %>
<div class='col-md-1'></div>
<div class='col-md-9' ng-controller='ProjectController as project'
		ng-init='project.load(<%= isNew %>, <%= projectId %>)'>
	<div name='projectForm'>
		<div class='row'>
			<label for='name'>Name:</label><br/>
			<input id='name' ng-model='project.model.name' class='form-control' required type='text'></input>
		</div>
		<div class='row'>
			<label for='description'>Description:</label><br/>
			<textarea  class='editor-area' id='description'></textarea>
		</div>
		<div class='row'>
			<label for='info'>Information (only for members):</label><br/>
			<textarea class='editor-area' id='info'></textarea>
		</div>		
		<div class='row'>
			<label for='needed'>Needed people:</label><br/>
			<input id='needed' ng-model='project.model.neededMembers' class='form-control' type='text'></input>
		</div>
		<button ng-show='project.isNew' ng-click='project.save()' class='save btn btn-success'>Create!</button>
		<button ng-hide='project.isNew' ng-click='project.save()' class='save btn btn-success'>Save</button>
	</div>
</div>
<div class='col-md-3'></div>
