<h1>New Project</h1>

<div class='col-md-6' ng-controller='ProjectController as project'>
	<form name='projectForm' ng-submit='projectForm.$valid && project.create()' novalidate>
		<div class='row'>
			<label for='name'>Name:</label><br/>
			<input id='name' ng-model='project.new.name' class='form-control' required type='text'></input>
		</div>
		<div class='row'>
			<label for='description'>Description:</label><br/>
			<textarea rows="5" cols="60" ng-model='project.new.description' class='form-control' required id='description'></textarea>
		</div>
		<div class='row'>
			<label for='needed'>Needed people:</label><br/>
			<input id='needed' ng-model='project.new.neededMembers' class='form-control' type='text'></input>
		</div>
		<input type='submit' class='btn btn-success' value='Create!'></input>
	</form>
</div>
<a href="/">Home</a><br/>