<script type="text/javascript" src='/js/app/controllers/postController.js'></script>
<% if(isNew){ %>
	<h1>New Post</h1>
<% } else { %>
	<h1>Edit Post</h1>
<% } %>
<div class='col-md-10' ng-controller='PostController'
		ng-init='load(<%= isNew %>, <%= projectId %>, <%= postId %>)'>
	<div name='projectForm'>
		<div class='row'>
			<label for='title'>Title:</label><br/>
			<input name='title' id='title' ng-model='model.title' class='form-control' required type='text'></input>
		</div>
		<div class='row'>
			<label for='text'>Text:</label><br/>
			<textarea class='editor-area' name='text' id='text'></textarea>
		</div>
		<button ng-show='isNew' ng-click='save()' class='btn btn-success'>Create!</button>
		<button ng-hide='isNew' ng-click='save()' class='btn btn-success'>Save</input>
	</div>
</div>