<script id="user-template" type="text/x-handlebars-template">
  <li>
  	<a href='/profile/{{id}}'><img src='{{#if fb_id}}http://graph.facebook.com/{{fb_id}}/picture{{else}}/images/anonymous.jpg{{/if}}' 
  	alt='image'/> {{name}}</a><br/>
  	<a href='/auth/loginById/{{id}}'>Login as this user</a>
  </li>
</script>

<script>
var source   = $("#user-template").html(); 
var template = Handlebars.compile(source);


 $(function(){
 	loadData(); 
 }); 

 function loadData(){
 	$('#users').empty();
 	$.get('/api/user')
 	.success(function(data)
 	{
 		for (var i = data.length - 1; i >= 0; i--) {
 			$('#users').append(template(data[i]));
 		}; 		
 	})
 	.error(function(data)
 	{
 		console.log(data);	
 	});
 }
</script>
<div class='row'>
	<div class='col-md-8'
		ng-controller='ProjectController as projectCtrl'
		ng-init='projectCtrl.loadOnMain()' >
		<div class=''>
		</div>
		<a href="/project/{{project.id}}"
		ng-repeat='project in projectCtrl.projects' 
		class='project-tile-link'>
			<div class='project-tile'>
				<div class='title'>
					<span class='name'>{{project.name}}</span>
				</div>
				<div class='date'>
					{{project.createdAt | date}}
				</div>
				<div class='info'>
					<div class='description' ng-show='project.description_plainText'>
						{{project.description_plainText}}
					</div>
					<hr width='90%'/>
					<div class='needed' ng-show='project.neededMembers'>
						We need: {{project.neededMembers}}
					</div>						
				</div>			
			</div>
		</a>
		<span ng-show='projectCtrl.isLoading'>Loading...</span>
		<a ng-click='projectCtrl.loadMore()' 
		ng-hide='projectCtrl.allLoaded || projectCtrl.isLoading'>
		Load more!</a>
	</div>

	<div class='col-md-4'>
		<% if (currentUser) { %>
			<ng-include
			  src="'/templates/home/invites.html'">
			</ng-include>
 					    

			<ng-include
			  src="'/templates/home/requests.html'">
			</ng-include>
 			

		    <a href="/project/new">Create project</a></br>
		<% } %>
		Users
		<ul id='users'>

		</ul>
	</div>
</div>

