
<div class='row'>
	<div class='col-md-8'
		ng-controller='ProjectController as projectCtrl'
		ng-init='projectCtrl.loadOnMain()' >
		<div class='greetings'>
			<h2>Find fellows and realize superiour ideas.</h2>
			<h3>Join now and become a part of something great!</h3>
		</div>
		<a href="/project/{{project.id}}"
		ng-repeat='project in projectCtrl.projects' 
		class='project-tile-link'>
			<div class='project-tile'>
				<div class='title'>
					<span class='name'>{{project.name}}</span>
				</div>
				<div class='date'>
					{{project.createdAt | date}}
				</div>
				<div class='info'>
					<div class='description' ng-show='project.description_plainText'>
						{{project.description_plainText}}
					</div>
					<hr width='90%'/>
					<div class='needed' ng-show='project.neededMembers'>
						We need: {{project.neededMembers}}
					</div>						
				</div>			
			</div>
		</a>
		<div class='clear'></div>
		<span ng-show='projectCtrl.isLoading'>Loading...</span>
		<a ng-click='projectCtrl.loadMore()' 
		ng-hide='projectCtrl.allLoaded || projectCtrl.isLoading'>
		Load more!</a>
	</div>

	<div class='col-md-4'>
		<a href="/project/new" class='create-project-link'>
			<div class='create-project-box'>
				<span>+ Create project</span>
			</div>
		</a></br>
		<% if (currentUser) { %>
			<ng-include
			  src="'/templates/home/invites.html'">
			</ng-include>
 					    

			<ng-include
			  src="'/templates/home/requests.html'">
			</ng-include>			
		    
		<% } %>
		<div class='users'
			ng-controller='ProfileController'
			ng-init='loadOnMain()' >
			<h4>Our folks</h4>
			<span ng-show='isLoading'>Loading...</span>
			<div 
			ng-repeat='user in users'
			class='user-tile'>
				<div class='picture'>
					<a href='/profile/{{user.id}}'>
						<img ng-src='http://graph.facebook.com/{{user.fb_id}}/picture' alt='image'/> 
				  	</a>			  	
			  	</div>
			  	<div class='info'>
				  	<div class='name'>
					  	<a href='/profile/{{user.id}}'>
					  		{{user.name}}
					  	</a>
				  	</div>
				  	<div class='location'>
				  		{{user.location}}
				  	</div>
			  	</div>
			  	<div class='skills'>
			  		{{user.skills}}
			  	</div>
			  	<a href='/auth/loginById/{{user.id}}'>Login as this user</a>
			</div>
		</div>
		<div class='users'
			ng-controller='PostController'
			ng-init='loadOnMain()'>
			<h4>Recent projects news</h4>
			<div class='projects'
			ng-controller='ProjectController'
			ng-init='loadOnMain()' >
			<h4>Our folks</h4>
			<span ng-show='isLoading'>Loading...</span>
			<div 
			ng-repeat='user in users'
			class='user-tile'>
				<div class='picture'>
					<a href='/profile/{{user.id}}'>
						<img ng-src='http://graph.facebook.com/{{user.fb_id}}/picture' alt='image'/> 
				  	</a>			  	
			  	</div>
			  	<div class='info'>
				  	<div class='name'>
					  	<a href='/profile/{{user.id}}'>
					  		{{user.name}}
					  	</a>
				  	</div>
				  	<div class='location'>
				  		{{user.location}}
				  	</div>
			  	</div>
			  	<div class='skills'>
			  		{{user.skills}}
			  	</div>
			  	<a href='/auth/loginById/{{user.id}}'>Login as this user</a>
			</div>
		</div>
		</div>
	</div>
</div>

