<script id="user-template" type="text/x-handlebars-template">
  <li>
  	<a href='/profile/{{id}}'><img src='{{#if fb_id}}http://graph.facebook.com/{{fb_id}}/picture{{else}}/images/anonymous.jpg{{/if}}' 
  	alt='image'/> {{name}}</a><br/>
  	<a href='/auth/loginById/{{id}}'>Login as this user</a>
  </li>
</script>

<script id="project-template" type="text/x-handlebars-template">
  <li>
  	<a href='/project/{{id}}'><strong>{{name}}</strong> by {{author.name}}</a>
  </li>
</script>


<script>
var source   = $("#user-template").html(); 
var template = Handlebars.compile(source);


source   = $("#project-template").html();
var projectTemplate = Handlebars.compile(source);

 $(function(){
 	loadData(); 
 }); 

 function loadData(){
 	$('#users').empty();
 	$.get('/api/user')
 	.success(function(data)
 	{
 		for (var i = data.length - 1; i >= 0; i--) {
 			$('#users').append(template(data[i]));
 		}; 		
 	})
 	.error(function(data)
 	{
 		console.log(data);	
 	});

 	$('#projects').empty();
 	$.get('/api/project')
 	.success(function(data)
 	{
 		for (var i = data.length - 1; i >= 0; i--) {
 			$('#projects').append(projectTemplate(data[i]));
 		}; 		
 	})
 	.error(function(data)
 	{
 		console.log(data);	
 	});
 }
</script>

<div class='row'>
	<div class='col-md-4'>
		<% if (currentUser) { %>
		    Hello, <strong><%= currentUser.name %></strong><br/>
		    <div 			
			ng-controller='InviteController as inviteCtrl' 
			ng-show='inviteCtrl.invitations.length'
			ng-init='inviteCtrl.loadInvites()'>
			<h3>Invitations to projects</h3>
				<ul>
					<li ng-repeat='invite in inviteCtrl.invitations'>
						<a href="/project/{{invite.project.id}}" target="_blank"><strong>{{invite.project.name}}</strong></a>
						by 
						<a href="/profile/{{invite.inviter.id}}" target="_blank">{{invite.inviter.name}}</a> (<em>{{invite.createdAt | date}}</em>)<br/>
						<span ng-show='invite.message'>{{invite.message}}</span>
						<div ng-hide='invite.isDeclined'>
						<button class='btn btn-success' ng-click='inviteCtrl.accept(invite.id)'>Accept</button>
						<button class='btn btn-danger' ng-click='inviteCtrl.decline(invite.id)'>Decline</button>
						</div>

						<div ng-show='invite.isDeclined'>
							Declined.
						</div>
					</li>
				</ul>

			</div>

 			<div 			
			ng-controller='MembershipRequestController as requestCtrl' 
			ng-show='requestCtrl.requests.length'
			ng-init='requestCtrl.loadRequests()'>
			<h3>Requests for membership</h3>
				<ul>
					<li ng-repeat='request in requestCtrl.requests'>
						<a href="/profile/{{request.user.id}}" target="_blank"><strong>{{request.user.name}}</strong></a>
						to <a href="/project/{{request.project.id}}" target="_blank">{{request.project.name}}</a> (<em>{{request.createdAt | date}}</em>)<br/>
						<span ng-show='request.message'>{{request.message}}</span>
						<div>
						<button class='btn btn-success' ng-click='requestCtrl.accept(request.id)'>Accept</button>
						<button class='btn btn-danger' ng-click='requestCtrl.decline(request.id)'>Decline</button>
						</div>
					</li>
				</ul>
			</div>

			<a href="/chats">Chats</a><br/>
			<a href="/search/user">Search users</a><br/>
			<a href="/search/project">Search projects</a><br/>
		    <a href="/profile/<%- currentUser.id %>">Go to profile</a><br/>
		    <a href="/new/project">Create project</a></br>
		    <a href="/auth/logout">Logout</a>
		<% } else {%>
			<a href="/search/user">Search users</a><br/>
			<a href="/search/project">Search projects</a><br/>
			<a href="/auth/facebook">Login with Facebook</a>
		<% } %>
	</div>
	<div class='col-md-3'>
		
		Users
		<ul id='users'>

		</ul>
	</div>
	<div class='col-md-3'>
		
		Projects
		<ul id='projects'>

		</ul>
	</div>
</div>

