<script id="user-template" type="text/x-handlebars-template">
  <li>
  	<a href='/profile/{{id}}'><img src='{{#if fb_id}}http://graph.facebook.com/{{fb_id}}/picture{{else}}/images/anonymous.jpg{{/if}}' 
  	alt='image'/> {{name}}</a><br/>
  	<a href='/auth/loginById/{{id}}'>Login as this user</a>
  </li>
</script>

<script id="project-template" type="text/x-handlebars-template">
  <li>
  	<a href='/project/{{id}}'><strong>{{name}}</strong> by {{author.name}}</a>
  </li>
</script>


<script>
var source   = $("#user-template").html(); 
var template = Handlebars.compile(source);


source   = $("#project-template").html();
var projectTemplate = Handlebars.compile(source);

 $(function(){
 	loadData(); 
 }); 

 function loadData(){
 	$('#users').empty();
 	$.get('/api/user')
 	.success(function(data)
 	{
 		for (var i = data.length - 1; i >= 0; i--) {
 			$('#users').append(template(data[i]));
 		}; 		
 	})
 	.error(function(data)
 	{
 		console.log(data);	
 	});

 	$('#projects').empty();
 	$.get('/api/project')
 	.success(function(data)
 	{
 		for (var i = data.length - 1; i >= 0; i--) {
 			$('#projects').append(projectTemplate(data[i]));
 		}; 		
 	})
 	.error(function(data)
 	{
 		console.log(data);	
 	});
 }
</script>

<div class='row'>
	<div class='col-md-4'>
		<% if (currentUser) { %>
		    Hello, <strong><%= currentUser.name %></strong><br/>
			<ng-include
			  src="'/templates/home/invites.html'">
			</ng-include>
 					    

			<ng-include
			  src="'/templates/home/requests.html'">
			</ng-include>
 			

			<a href="/chats">Chats</a><br/>
			<a href="/search/user">Search users</a><br/>
			<a href="/search/project">Search projects</a><br/>
		    <a href="/profile/<%- currentUser.id %>">Go to profile</a><br/>
		    <a href="/project/new">Create project</a></br>
		    <a href="/auth/logout">Logout</a>
		<% } else {%>
			<a href="/search/user">Search users</a><br/>
			<a href="/search/project">Search projects</a><br/>
			<a href="/auth/facebook">Login with Facebook</a>
		<% } %>
	</div>
	<div class='col-md-3'>
		
		Users
		<ul id='users'>

		</ul>
	</div>
	<div class='col-md-3'>
		
		Projects
		<ul id='projects'>

		</ul>
	</div>
</div>

