<script type="text/javascript" src="/js/googleAnalitycs.js"></script>
<div class='greetings'>
	<div class='greetings-overlay'>		
		<h2>Find companions and realize superiour ideas.</h2>
		<h3>Join now and become a part of something great!</h3>
		<div class='greetings-description'>
			<table>
				<tbody>
					<tr>
						<td class='border-td'>
							<h3>
								Have an idea?
							</h3>
							<h4>
								Find folks to realize it together
							</h4>
						</td>
						<td class='border-td'>
							<h3>
								Wish to create?
							</h3>
							<h4>
								Join a project and make it
							</h4>
						</td>
						<td>
							<h3>
								Want to wach the creation?
							</h3>
							<h4>
								Follow interesting projects and people
							</h4>
						</td>
					</tr>	
				</tbody>	
			</table>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-8'
		ng-controller='ProjectController as projectCtrl'
		ng-init='projectCtrl.loadOnMain()' >
		
		<a href="/project/{{project.id}}"
		ng-repeat='project in projectCtrl.projects' 
		class='project-tile-link'>
			<div class='project-tile'>
				<div class='title'>
					<span class='name'>{{project.name}}</span>
				</div>
				<div class='date'>
					{{project.createdAt | date}}
				</div>
				<div class='info'>
					<div class='description' ng-show='project.description_plainText'>
						{{project.description_plainText}}
					</div>
					<hr width='90%'/>
					<div class='needed' ng-show='project.neededMembers'>
						We need: {{project.neededMembers}}
					</div>						
				</div>			
			</div>
		</a>
		<div class='clear'></div>
		<span ng-show='projectCtrl.isLoading'>Loading...</span>
		<a ng-click='projectCtrl.loadMore()' 
		ng-hide='projectCtrl.allLoaded || projectCtrl.isLoading'>
		Load more!</a>
	</div>

	<div class='col-md-4'>
		
		<a 
		<% if(currentUser) { %>
			href="/project/new" 
		<% } else { %>
			ng-click='auth.loginPopup = true'
			href=""
		<% } %>
		class='create-project-link'>
			<div class='create-project-box'>
				<span>+ Create project</span>
			</div>
		</a></br>
		
		<div class='users'
			ng-controller='ProfileController'
			ng-init='loadOnMain()' >
			<h3>Our folks</h3>
			<span ng-show='isLoading'>Loading...</span>
			<div 
			ng-repeat='user in users'
			class='user-tile'>
				<div class='picture'>
					<a href='/profile/{{user.id}}'>
						<img ng-src='{{user.profilePic}}' alt='image'/> 
				  	</a>			  	
			  	</div>
			  	<div class='info'>
				  	<div class='name'>
					  	<a href='/profile/{{user.id}}'>
					  		{{user.name}}
					  	</a>
				  	</div>
				  	<div class='location'>
				  		{{user.location}}
				  	</div>
			  	</div>
			  	<div class='skills'>
			  		{{user.skills}}
			  	</div>
			</div>
		</div>
		<div class='posts'
			ng-controller='PostController'
			ng-init='loadOnMain()'>
			<h3>Recent projects news</h3>
			<span ng-show='isLoading'>Loading...</span>
			<div 
			ng-repeat='post in posts'
			class='post-tile'>
			  	<div class='info'>
				  	<div class='title'>
					  	<a href='/post/{{post.id}}'>
					  		{{post.title}} 
					  	</a>
					  	- 
					  	<strong>{{post.project.name}}</strong>
				  	</div>
				  	<div class='createdAt'>
					  	{{post.createdAt | date}}
				  	</div>
			  	</div>
			</div>
		</div>
		</div>
	</div>
</div>

