<div class='col-md-4'></div>
<div class='col-md-4 password-reset-view' ng-controller='AuthController as auth'>
	<h2 class=''>Reset password</h2>
	<p class='message ng-hide' ng-show='auth.message'>{{auth.message}}</p>
	<input 
	type='password' 
	ng-model='auth.model.password'
	placeholder='New password'></input><br/>
	<input 
	type='password' 
	ng-model='auth.model.passwordConfirm'
	placeholder='Confirm password'></input><br/>
	<button ng-click='auth.resetPassword()' 
            ng-disabled='!auth.model.password || (auth.model.passwordConfirm != auth.model.password)'
             class='btn btn-success'>Reset password</button>
</div>
<div class='col-md-4'></div>