
<script id="user-template" type="text/x-handlebars-template">
  <li>

  	<a href='/profile/{{id}}'><img src='{{#if fb_id}}http://graph.facebook.com/{{fb_id}}/picture{{else}}/images/anonymous.jpg{{/if}}' 
  	alt='image'/> {{name}}</a>
  </li>
</script>


<script>
var source   = $("#user-template").html();
var template = Handlebars.compile(source);

 $(function(){
 	loadData(); 
 }); 

 function loadData(){
 	$('#users').empty();
 	

 	$.get('/api/user')
 	.success(function(data)
 	{
 		for (var i = data.length - 1; i >= 0; i--) {
 			$('#users').append(template(data[i]));
 		}; 		
 	})
 	.error(function(data)
 	{
 		console.log(data);	
 	});
 }
</script>

<h1>Test page</h1>

<div class='row'>
	<div class='col-md-4'>
		<% if (currentUser) { %>
		    Hello, <strong><%= currentUser.name %></strong><br/>
		    <a href="/profile/<%- currentUser.id %>">Go to profile</a><br/>
		    <a href="/auth/logout">Logout</a>
		<% } else {%>
			<a href="/auth/facebook">Login with Facebook</a>
		<% } %>
	</div>
	<div class='col-md-4'>
		
		Users
		<ul id='users'>

		</ul>
	</div>
</div>

