<script type="text/javascript" src='/js/app/controllers/pofileController.js'></script>
<h1>Edit Profile</h1>

<div class='col-md-6' ng-controller='ProfileController' ng-init='load(<%= userId %>)'
	flow-init='{singleFile: true, supportDirectory: false, accept:"image/*", target: "/api/user/image"}'
	flow-files-submitted="$flow.upload()">
	<form name='profileForm' novalidate>
		<div class='row'>
			<label>Upload image</label><br/>
			<div>
			  <span class="btn" flow-btn>Upload File</span>

			  <table>
			    <img class='imgPreview' flow-img="$flow.files[0]" />
			  </table>
			  <button class='btn btn-success' ng-click='saveImage()'>Save image</button>
			</div>
		</div>
		<div class='row'>
			<label for='name'>Your name:</label><br/>
			<input id='name' ng-model='user.name' class='form-control' required type='text'></input>
		</div>
		<div class='row'>
			<label for='birth'>Your birthday:</label><br/>
			<input id='birth' ng-model='user.birthDate' class='form-control' type='date'></input>
		</div>
		<div class='row'>
			<label for='location'>Your location:</label><br/>
			<input id='location' ng-model='user.location' class='form-control' required type='text'></input>
		</div>
		<div class='row'>
			<label for='about'>A few words about yourself:</label><br/>
			<textarea id='about' class='editor-area'></textarea>
		</div>
		<div class='row'>
			<label for='skills'>Describe your skills:</label><br/>
			<input id='skills' ng-model='user.skills' class='form-control' type='text'></input>
		</div>
		<div>
			TBD: Upload foto.
		</div>	
		<button type='submit' class='btn btn-success' ng-click='save()'>Save!</button>
	</form>
</div>