<script type="text/javascript" src='/js/app/controllers/chatListCtrl.js'></script>
<div class='col-md-2'></div>
<div ng-controller='ChatListController'
	 ng-init='loadChats()'
	 class='col-md-8'>
	 
	 <a href='/chat/{{getRoute(chat)}}' ng-repeat='chat in chats' class='chat-link'>
	 <div class='row chat-row ng-hide' ng-show='true' 
	 ng-class='{unread: chat.unreadMessages, project: chat.targetProject}'>
	 	<div class='chat-info'>
	 		<div class='picture'>
			 	<img ng-show='chat.targetUser' 
			 	ng-src="{{chat.targetUser.profilePic}}"></img>
			 	<div
			 	class='unread-messages' 
			 	ng-show='chat.unreadMessages'>
			 		{{chat.unreadMessages}}
			 	</div>
		 	</div>
		 	<div class='info'>
			 	<span ng-show='chat.targetUser'>
			 		{{chat.targetUser.name}}
			 	</span>
			 	<strong ng-show='chat.targetProject'>
			 		{{chat.targetProject.name}}
			 	</strong><br/>
			 	<span ng-show='chat.lastMessage' class='createdAt'>
			 		{{chat.lastMessage.createdAt | date:'dd-MM-yyyy HH:mm:ss'}}
			 	</span>
		 	</div>

	 	</div>
	 	<div class='last-message' ng-show='chat.lastMessage'>
	 		<strong ng-show='chat.lastMessage.from===chat.targetUser.id'>
	 			{{chat.targetUser.name}}:
	 		</strong>
	 		<span class='body'>{{chat.lastMessage.text}}</span>
	 	</div>
	 </div>
	</a>
</div>
<div class='col-md-2'></div>