<script type="text/javascript" src='/js/app/controllers/chatCtrl.js'></script>
<a href="/chats">Back to chats list</a>

<div ng-controller='ChatController'
	 ng-init='init("<%= type %>", <%= id %>, <%= currentUser.id %>)'
	 class='col-md-11 chat-screen'>
	<h3><%= name %></h3>	
	<textarea ng-model='text' ng-keypress='keyPressed()' class='message-area'></textarea>	 
	<button class='btn btn-success' ng-click='send()' ng-disabled='isSending'>Send</button>
	<div ng-repeat='msg in messages'>
		{{msg.text}} {{msg.createdAt | date}}
	</div>

</div>