<script type="text/javascript" src='/js/app/controllers/chatListCtrl.js'></script>
<div ng-controller='ChatListController'
	 ng-init='loadChats()'
	 class='col-md-11'>
	 
	 <a href='/chat/{{chat.type}}/{{chat.target.id}}' ng-repeat='chat in chats' class='chat-link'>
	 <div class='row chat-row' >
	 	<img ng-show='chat.type==="user"' 
	 	src="http://graph.facebook.com/{{chat.target.fb_id}}/picture"></img>
	 	{{chat.target.name}}
	 </div>
	</a>

</div>