<script type="text/javascript" src='/js/app/controllers/searchController.js'></script>
<h3>Search project</h3>
<div ng-controller='SearchController' ng-init='initProjects()' class='col-md-10'>
	<div class='search-options'>
		<div class='row'>
			Search by:
			<input type="radio" ng-model="criteria" value="neededMembers" ng-change='search()'>Needed members</input>
			<input type='radio' ng-model="criteria" value="name" ng-change='search()'>Name</input>
			<input type='radio' ng-model="criteria" value="description" ng-change='search()'>Description</input>
		</div>
		<input type='text' ng-model='pattern' ng-change='search()'></input>
	</div>
	<div class='search-results' ng-model='items'>
		<div class='no-result' ng-show='!items.length'>
			<div ng-hide='isSearching'>
				<span ng-show='!pattern.length'>
					Please, enter search text.
				</span>
				<span ng-hide='!pattern.length'>
					Sorry, no resuts maching your criteria found :(
				</span>
			</div>
		</div>
		<div ng-show='isSearching'>
			<span>
				Searching...
			</span>
		</div>
		<a href="/project/{{project.id}}" ng-repeat='project in items' class='search-result-link'>
			<div class='row search-result'>
				<div class='title'>
					<span class='name'>{{project.name}}</span>
				</div>
				<div class='info'>
					<ul>
						<li ng-show='project.neededMembers'>
							{{project.neededMembers}}
						</li>
						<li ng-show='project.description'>
							{{project.description}}
						</li>
					</ul>
				</div>
			
			</div>
		</a>
	</div>
</div>