<script type="text/javascript" src='/js/app/controllers/searchController.js'></script>
<h3 class='center'>Users</h3>
<div class='col-md-2'></div>
<div ng-controller='SearchController' ng-init='initUsers()' class='col-md-6'>

	<div class='search-options'>
		<div class='row'>
			Search by:
			<input type="radio" ng-model="criteria" value="skills" ng-change='search()'>Skills</input>
			<input type='radio' ng-model="criteria" value="name" ng-change='search()'>Name</input>
			<input type='radio' ng-model="criteria" value="about" ng-change='search()'>About</input>
			<input type='radio' ng-model="criteria" value="location" ng-change='search()'>Location</input>
		</div>
		<input type='text' ng-model='pattern' placeholder='Enter search text' ng-change='search()'></input>
	</div>
	<div class='search-results' ng-model='items'>
		<div class='no-result' ng-show='!items.length'>
			<div ng-hide='isSearching'>
				<span ng-show='!pattern.length'>
					Please, enter search text.
				</span>
				<span ng-hide='!pattern.length'>
					Sorry, no resuts maching your criteria found :(
				</span>
			</div>
		</div>
		<div ng-show='isSearching'>
			<span>
				Searching...
			</span>
		</div>
		<a href="/profile/{{user.id}}" ng-repeat='user in items' 
		ng-show='user'
		class='ng-hide search-result-link'>
			<div class='row search-result'>
				<div class='title'>
					<img ng-src="{{user.profilePic}}"></img>
					<span class='name'>{{user.name}}</span>
				</div>
				<div class='info'>
					<ul>
						<li ng-show='user.location'>
							{{user.location}}
						</li>
						<li ng-show='user.skills'>
							{{user.skills}}
						</li>						
						<li ng-show='user.about_plainText'>
							{{user.about_plainText}}
						</li>
					</ul>
				</div>
			
			</div>
		</a>
	</div>
</div>
<div class='col-md-4'>
<% if (currentUser) { %>
		<ng-include
		  src="'/templates/home/requests.html'">
		</ng-include>		

		<% if (fellows && fellows.length) { %>
			<div>
				<h4>Fellows</h4>
				<ul>
				    <% for(var i=0; i<fellows.length; i++) { %>
				        <li>
				            <a href='/profile/<%= fellows[i].id %>'><%= fellows[i].name %></a>
				        </li>
				    <% } %>
				</ul>
			</div>
		<% } %>	
	<% } %>
</div>