<html>
<head>
  <title>Welcome to Project Fellows</title>
</head>
<body>
  <p>
    Hello!
  </p>
  <p>
    Welcome to ProjectFellows.com. Your account is created and fully functional. <br/>
    Here are just a few words about what you can find on Project Fellows.
    <ul>
    	<li>Find inspired people to realize your ideas.</li>
    	<li>Help other people in their projects. Maybe, someone is searching exactly for you!</li>
    	<li>Share your crazy ideas.</li>
    </ul>    
  </p>
  <p>
  	Thank you for join and hope you will enjoy Project Fellows!
  </p>
  <p>
  	Sincerely</br>
  	Project Fellows.
  </p>
</body>
</html>