.ng-dirty.ng-invalid{
	border-color: red;
}
body{
	font-family: 'Arvo', serif !important;
	background-color: #b29966  !important;
	color: #2a1d02  !important;
}
.fibro-header{
	height: 60px;
	width: 100%;
	clear: both;
	background-color: green;
	color: #F5F5DC; 
	padding-top: 10px;
	padding-right: 10px;
}

.fibro-header h1{
	margin: 0px 0px 0px 20px;
	cursor: pointer;
	float: left;
	clear: left;
}

.fibro-header .account-info{
	float: right;
	margin-right: 20px;	
	margin-top: 10px;
}

.fibro-header a{
	font-size: 16px;
	color: #F5F5DC;
}

.fibro-header a:hover{
	color: #eadec3;
}

.fibro-content{
	margin: 0px 30px 0px 30px;
	clear: both;
	height: 100%;
	background-color: #F5F5DC; 
	padding: 10px;
	overflow: hidden;
	display: block;
	padding: 20px 20px 20px 50px; 
}
.fibro-content a{
	color: #725f35;
}

.fibro-content a:hover{
	color: #50401f;
}
.fibro-content textarea.form-control{
	width: 300px;
}
.fibro-footer{
	width:100%;
	position: relative;
	height:30px;
	margin: 10px 0px 10px 0px;
	text-align: center;
	clear: both;
	display: block;
}
.chat-row{
	margin: 10px;
	padding: 10px;
	font-size: 14px;
	height: 50px;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	border-color: #b29966;
	background-color: #f5f5eb;
}
a:link.chat-link{
	text-decoration: none;
}
.chat-row:hover{
	background-color: #f5efd0;
	cursor: pointer;
}
.chat-row img{
	max-height: 30px;
	max-width: 30px;
}
.chat-screen{
	display: block;
  	text-align: center; 
}
.message-area{
	width: 400px;
	height: 80px;
}
.message{
	display: block;
	clear: both;
	margin: 5px;
}
.message .container{
	border-style: solid;
	border-color: #D3D3D3;
	border-width: 1px;
	border-radius: 4px;
	min-width: 200px;
	max-width: 500px;
}
.message.self .container{
	float: right;
	background-color: white;
	text-align: right; 
}
.message.other .container{
	float: left;
	background-color: #dcecf9;	
	text-align: left; 
}
.message .author, .message .date{
	color: #bebebe;
	font-size: 10px;
}
