<div 			
			ng-controller='InviteController as inviteCtrl' 
			ng-show='inviteCtrl.invitations.length'
			ng-init='inviteCtrl.loadInvites()'>
			<h3>Invitations to projects</h3>
				<ul>
					<li ng-repeat='invite in inviteCtrl.invitations'>
						<a href="/project/{{invite.project.id}}" target="_blank"><strong>{{invite.project.name}}</strong></a>
						by 
						<a href="/profile/{{invite.inviter.id}}" target="_blank">{{invite.inviter.name}}</a> (<em>{{invite.createdAt | date}}</em>)<br/>
						<span ng-show='invite.message'>{{invite.message}}</span>
						<div ng-hide='invite.isDeclined'>
						<button class='btn btn-success' ng-click='inviteCtrl.accept(invite.id)'>Accept</button>
						<button class='btn btn-danger' ng-click='inviteCtrl.decline(invite.id)'>Decline</button>
						</div>

						<div ng-show='invite.isDeclined'>
							Declined.
						</div>
					</li>
				</ul>

			</div>